.detailed-workspace-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 10px 20px;
  border-radius: 8px;
  color: #fff;
  background-color: #232323;
}

.detailed-workspace-info h1 {
  font-size: 22px;
  font-weight: 500;
  color: #b7ff6f;
}

.delete-btn {
  color: #f96e33;
}
