.add-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 40px;
  border-radius: 8px;
  border: 2px dashed #b7ff6f;
  color: #fff;
  background-color: #232323a2;
  cursor: pointer;
}

.add-new-icon {
  font-size: 32px;
}

.add-new-text {
  font-size: 32px;
}

@media (width <=660px) {
  .add-new {
    width: 100%;
  }
}
