.Sidebar {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #232323;
    padding: 20px 20px;
}

.header p {
    color: #B7FF6F;
    font-weight: 500;
    font-size: 18px;
}

.navigation {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.link-box {
    display: flex;
    align-items: center;
    gap: 20px;
}

.link-box img {
    height: 24px;
    width: 24px;
}

.link-box {
    color: #fff;
}