.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 10fr;
}

.App-full {
  grid-template-columns: 10fr;
}

@media (width <=600px) {
  .Sidebar {
    /* display: grid; */
    position: absolute;
    height: 100%;
  }
  .App {
    grid-template-columns: 10fr;
  }
}

/* sidebar buttons */

.close-btn {
  position: absolute;
  top: 50%;
  left: 0px;
  height: 32px;
  width: 32px;
  border-radius: 0px 8px 8px 0px;
  background-color: #232323;
}

.open-btn {
  left: 195px;
  transform: rotate(180deg);
  border-radius: 8px 0px 0px 8px;
}

/* Main-Container */

.main-container {
  display: grid;
  width: 100%;
  grid-template-rows: 70px 10fr;
}

.Changable {
  /* border: 1px solid white; */
  padding: 0px 20px;
  margin-bottom: 20px;
}
